# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
debug
debug.test
main

*.db
*.lock
/config.*
/internal/handlers/static.go
/internal/handlers/tmpls/tmpls.go
/releases
/docker_releases
data
*-packr.go
/deployments/cloudfoundry
!/deployments/cloudfoundry/README.md
!/deployments/cloudfoundry/config.yaml
!/deployments/cloudfoundry/manifest-example.yml
!/deployments/cloudfoundry/run.sh