.swatch-github-gray-light {
	background-color:#999;
}
.swatch-github-gray {
	background-color:#767676;
}
.swatch-github-gray-dark {
	background-color:#333;
}
.ui.github.button {
    background-color: #333;
    color: #fff;
}